<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>BEESOFT</string>
    <key>CFBundleShortVersionString</key>
    <string>3.9.0_beta1</string>
    <key>CFBundleGetInfoString</key>
    <string>BEESOFT, © 2013-${current.year} BEEVC - Electronic Systems</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>BEESOFT</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>bee.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.beesoft.app</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>STL 3D model</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>bee.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>stl</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>STL 3D model</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>bee.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>STL</string>
        </array>
      </dict>
    </array>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>replicatorg.app.Base</string>
      <key>JVMVersion</key>
      <string>1.6+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/BEESOFT.jar</string>
        <string>$JAVAROOT/OrangeExtensions-1.2.jar</string>
        <string>$JAVAROOT/commons-lang3-3.1.jar</string>
        <string>$JAVAROOT/filedrop.jar</string>
        <string>$JAVAROOT/j3dcore.jar</string>
        <string>$JAVAROOT/j3dutils.jar</string>
        <string>$JAVAROOT/jcommon-1.0.16.jar</string>
        <string>$JAVAROOT/miglayout-3.7.4.jar</string>
        <string>$JAVAROOT/mrj.jar</string>
        <string>$JAVAROOT/quaqua.jar</string>
        <string>$JAVAROOT/usb-api-1.0.2.jar</string>
        <string>$JAVAROOT/usb4java-1.0.0.jar</string>
        <string>$JAVAROOT/vecmath.jar</string>
        <string>$JAVAROOT/libquaqua.jnilib</string>
        <string>$JAVAROOT/librxtxSerial.jnilib</string>
        <string>/System/Library/Java</string>
      </array>
      <key>VMOptions</key>
      <string>-d32 -ea -Xmx1G</string>
      <key>Properties</key>
      <dict>
        <key>beesoft.app-resources</key>
        <string>$APP_PACKAGE/Contents/Resources</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
